# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Kotlin Gradle plugin data, see https://kotlinlang.org/docs/whatsnew20.html#new-directory-for-kotlin-data-in-gradle-projects
.kotlin/
/.idea/.gitignore
/.gradle/configuration-cache/4a136e3b-c95c-46c6-9871-d5a37a360858/.globals.work.bin
/.gradle/configuration-cache/7404066f-6676-4a99-bc76-de3de7c96226/.globals.work.bin
/.idea/.name
/.gradle/configuration-cache/4a136e3b-c95c-46c6-9871-d5a37a360858/.strings.work.bin
/.gradle/configuration-cache/7404066f-6676-4a99-bc76-de3de7c96226/.strings.work.bin
/composeApp/build/
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/0BQFFHbqBqMlgNlSQt1oKMEEQHY=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/0LqG0PijDLXHI11y5_s6d9cwR_U=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/0Pw9ukTLRiSIYW4CdsQi2JVkW6o=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/1WtQf1h00RREqjfIH3ren4Uz4vk=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/2bQHsAvKA9gRDgPaEzVwr1my4_Q=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/3dwDErwbr0Du1_TVN9BUDWi9h9g=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/5GFW1uob6VFk9n8Rr_zze7Q+p3M=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/5Iao+4dLDkZSkoLiZi80bIekONM=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/5SRuzPBxs1ggzbzZU9QobVqzqLw=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/6kUynIfXkqeawRMIT4f3zjKLrTA=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/6oXJ7gjJE6CCj37ZWGR8u5GRZ0I=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/+9yI0mWpedQQOZEfxa6+NWUFgGA=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/8GMl_1vdCnft5Zo3UG4YlcZk7vA=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/9jCE5y9GZWWxQe6_yPM7ED_o69g=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/9JDbA4vkZgIUNfRARqUl22bvmGY=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/9tQ1M2AdBKrbtU6VcDXXJmnYikI=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/22nGb3cTpaDxxI8TpZKwt9ERfa0=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/59xdh8G3yLCswoJgylmV13DOtBk=
/.gradle/configuration-cache/7404066f-6676-4a99-bc76-de3de7c96226/_composeApp.work.bin
/.gradle/configuration-cache/4a136e3b-c95c-46c6-9871-d5a37a360858/_shared.work.bin
/.gradle/configuration-cache/7404066f-6676-4a99-bc76-de3de7c96226/_shared.work.bin
/.idea/AndroidProjectSystem.xml
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/axkpywztzZUlHj4wc29PsxkE6+Y=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/B8oT_BUv_nNBNsuIqOI7MtnvHSg=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/BKXHgS2Zl00NjPBg1gY2SLmMT10=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/BpNeN7ACOdd39bxEXPLcpVy3shs=
/.gradle/configuration-cache/4a136e3b-c95c-46c6-9871-d5a37a360858/buildfingerprint.bin
/.gradle/configuration-cache/7404066f-6676-4a99-bc76-de3de7c96226/buildfingerprint.bin
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/configuration-cache/5kqfytwdr7nbm7b3jrlhaesv0/candidates.bin
/.gradle/configuration-cache/8qhtrgbmp65if1rjmaqzji708/candidates.bin
/.gradle/8.14.3/checksums/checksums.lock
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/cHU+_E2Ct4cFlQ0rINAmCoSedXc=
/composeApp/build/intermediates/dex/debug/mergeExtDexDebug/classes3.dex
/.idea/compiler.xml
/.gradle/configuration-cache/configuration-cache.lock
/build/reports/configuration-cache/5kqfytwdr7nbm7b3jrlhaesv0/3iklqzsfnw6n2ttnds70oyzjh/configuration-cache-report.html
/build/reports/configuration-cache/5kqfytwdr7nbm7b3jrlhaesv0/3y5gwec7j51ypgslb45mt305f/configuration-cache-report.html
/build/reports/configuration-cache/5kqfytwdr7nbm7b3jrlhaesv0/6v0suyk6x66c24d8qbpurtxg4/configuration-cache-report.html
/build/reports/configuration-cache/5kqfytwdr7nbm7b3jrlhaesv0/639wjijra1qxs0vrbz1536780/configuration-cache-report.html
/build/reports/configuration-cache/8qhtrgbmp65if1rjmaqzji708/26g4z196atiy7chsgyskelc17/configuration-cache-report.html
/build/reports/configuration-cache/8qhtrgbmp65if1rjmaqzji708/aiupz0raue2fuafrmnod3s3mn/configuration-cache-report.html
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/DbIYFzZ8QUjtJFMEl9NkqZR+KnE=
/.idea/deploymentTargetSelector.xml
/shared/build/.transforms/7ee5574db39a9000baf755171600a517/transformed/bundleLibRuntimeToDirDebug/desugar_graph.bin
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/dFb+9u81KaQBQ668x5tGi4i3wMw=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/dn6NDuHV_A4ULwNf7VZFli1xRwU=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/eHugw7KbvOwWHWKqKr2ezWOqt18=
/.gradle/configuration-cache/4a136e3b-c95c-46c6-9871-d5a37a360858/entry.bin
/.gradle/configuration-cache/7404066f-6676-4a99-bc76-de3de7c96226/entry.bin
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/EpsHdS0RpFR8cLO1Um9NwziEvHs=
/.gradle/8.14.3/executionHistory/executionHistory.bin
/.gradle/8.14.3/executionHistory/executionHistory.lock
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/fcbyVAO3fktBME1_3ApH4MAmtDo=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/fEIJsP9h1SKgpY6CcCzUWjQBeRE=
/.gradle/8.14.3/fileHashes/fileHashes.bin
/.gradle/8.14.3/fileHashes/fileHashes.lock
/.gradle/8.14.3/gc.properties
/.gradle/configuration-cache/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/composeApp/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/dirs_bucket_0/graph.bin
/composeApp/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/dirs_bucket_1/graph.bin
/composeApp/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/dirs_bucket_2/graph.bin
/composeApp/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/dirs_bucket_3/graph.bin
/composeApp/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/dirs_bucket_4/graph.bin
/composeApp/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/dirs_bucket_5/graph.bin
/composeApp/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_a75afe84e2f27d2fa2aa49912d2c1f5b1b7b7660c9c868754830e54b05aeaa48_bucket_0/graph.bin
/composeApp/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_a75afe84e2f27d2fa2aa49912d2c1f5b1b7b7660c9c868754830e54b05aeaa48_bucket_1/graph.bin
/composeApp/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_a75afe84e2f27d2fa2aa49912d2c1f5b1b7b7660c9c868754830e54b05aeaa48_bucket_2/graph.bin
/composeApp/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_a75afe84e2f27d2fa2aa49912d2c1f5b1b7b7660c9c868754830e54b05aeaa48_bucket_3/graph.bin
/composeApp/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_a75afe84e2f27d2fa2aa49912d2c1f5b1b7b7660c9c868754830e54b05aeaa48_bucket_4/graph.bin
/composeApp/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_a75afe84e2f27d2fa2aa49912d2c1f5b1b7b7660c9c868754830e54b05aeaa48_bucket_5/graph.bin
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/gsiKL5tXA_TLn2VxtETVh++LoxQ=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/gT9MezxCfRDoT9ac5w5rnDv31Pc=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/h6V9tdJqj2Xvb28coWzs77IluZY=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/hqRTQGDxi2g5mgyEuoU2NwnWZ1w=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/HXHbAjNDUVzdVi2dp8s4OsphAuA=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/hYkmjhBzxAikLQIqpsh1MzqYDJ0=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/InZZa4K3V11DaDNZJPf87eJofEE=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/j2IHgXbfVDH_LTFVRqJtBLoKqlU=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/J_YBNxMzIqCGMi2wwTL7bYWZAEE=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/K406Qe1qEXbvE7FFowC8qM0kOnE=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/KGcfWxaLE+UiEM4QAqIY5iiERPE=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/kGqbinbOQUneP5adtUBpZ0vPPDs=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/kKPLgcMNP6VsPzIFkipZgp46i90=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/kvT1WHKwKH_qllzZTIvTS01FCdU=
/.gradle/8.14.3/fileChanges/last-build.bin
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/LEAol9JSp7fs9Cq6XivWu92W7DY=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/li47XStXbiUh2BEF6c5mWMxrDUA=
/local.properties
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/mcO7iuK9jwDyzLSNtSfOxdooLSE=
/.idea/misc.xml
/.idea/modules.xml
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/moKrMs_fygMld+wY3tNI8irQe5w=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Mvjs03QzaF9xp3cmVCvc_zhiIs4=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/mW1_MF4+uqL4yzldWtmhafjda40=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/MYRP81vmluO0zCQCHwyfW_60gc8=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/NpsDAf_mkapDag1WTgBSyLb_EHY=
/composeApp/build/intermediates/dex_archive_input_jar_hashes/debug/dexBuilderDebug/out
/composeApp/build/intermediates/dex_number_of_buckets_file/debug/dexBuilderDebug/out
/.gradle/buildOutputCleanup/outputFiles.bin
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/OVjFwTOfYNY+nCW3XCsvv07pNbs=
/shared/build/.transforms/7ee5574db39a9000baf755171600a517/transformed/bundleLibRuntimeToDirDebug/com/vpdevs/streamkmp/Platform_androidKt.dex
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/PluQnokZJUfQ7jk1Kekfa6zBG1w=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/PoIhymJknMi2SweYnPMZUm3n76k=
/build/reports/problems/problems-report.html
/.gradle/configuration-cache/4a136e3b-c95c-46c6-9871-d5a37a360858/projectfingerprint.bin
/.gradle/configuration-cache/7404066f-6676-4a99-bc76-de3de7c96226/projectfingerprint.bin
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/PTRmzDx1x7yAKvwuw+fpE4oYP8w=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/qCpXDaudzbmUAUjeo0eR3qEOWMM=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/QYLWRYNvpHD3n5RX9cwajgwBCH8=
/.gradle/8.14.3/fileHashes/resourceHashesCache.bin
/shared/build/.transforms/7ee5574db39a9000baf755171600a517/results.bin
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/RV1tY8OiwE342Ql_sq2pssyj_ng=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/RXE6O159MoZ7mz_se3MxavsBf7o=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/SAJiEUqgB_bRaVxKOnBiC+f+AIk=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/SiM_aHdV5vWUcfxlnNwy3RIT73w=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/SKDqd2QE1uHYNkZ59q9_jkkEAZY=
/.idea/modules/composeApp/streamkmp.composeApp.iml
/.idea/streamkmp.iosApp.iml
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/TvaD3SVjgxQO3RVVbGWD7GBjs5s=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/tx1RuuZBTbeBR75IubO2dKXOx_o=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/UFMO+XiYdWa9Wds_lQ0nenFJAFk=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/UyaIPKMDEnelRqhqXmEJcgkFl9g=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/V0QHBqxJlXgT6pJUJlQ8ReolHQc=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/v9cV4+tzatNLwoIfW_UDqrl3Ccw=
/composeApp/build/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/multi-v2/values-h720dp-v13.json
/composeApp/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-h720dp-v13/values-h720dp-v13.xml
/composeApp/build/intermediates/merged_res/debug/mergeDebugResources/values-h720dp-v13_values-h720dp-v13.arsc.flat
/composeApp/build/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/multi-v2/values-hdpi-v4.json
/composeApp/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-hdpi-v4/values-hdpi-v4.xml
/composeApp/build/intermediates/merged_res/debug/mergeDebugResources/values-hdpi-v4_values-hdpi-v4.arsc.flat
/composeApp/build/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/multi-v2/values-land.json
/composeApp/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-land/values-land.xml
/composeApp/build/intermediates/merged_res/debug/mergeDebugResources/values-land_values-land.arsc.flat
/composeApp/build/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/multi-v2/values-large-v4.json
/composeApp/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-large-v4/values-large-v4.xml
/composeApp/build/intermediates/merged_res/debug/mergeDebugResources/values-large-v4_values-large-v4.arsc.flat
/composeApp/build/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/multi-v2/values-ldltr-v21.json
/composeApp/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ldltr-v21/values-ldltr-v21.xml
/composeApp/build/intermediates/merged_res/debug/mergeDebugResources/values-ldltr-v21_values-ldltr-v21.arsc.flat
/composeApp/build/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/multi-v2/values-night-v8.json
/composeApp/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-night-v8/values-night-v8.xml
/composeApp/build/intermediates/merged_res/debug/mergeDebugResources/values-night-v8_values-night-v8.arsc.flat
/composeApp/build/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/multi-v2/values-port.json
/composeApp/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-port/values-port.xml
/composeApp/build/intermediates/merged_res/debug/mergeDebugResources/values-port_values-port.arsc.flat
/composeApp/build/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/multi-v2/values-sw600dp-v13.json
/composeApp/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sw600dp-v13/values-sw600dp-v13.xml
/composeApp/build/intermediates/merged_res/debug/mergeDebugResources/values-sw600dp-v13_values-sw600dp-v13.arsc.flat
/composeApp/build/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/multi-v2/values-v16.json
/composeApp/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v16/values-v16.xml
/composeApp/build/intermediates/merged_res/debug/mergeDebugResources/values-v16_values-v16.arsc.flat
/composeApp/build/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/multi-v2/values-v17.json
/composeApp/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v17/values-v17.xml
/composeApp/build/intermediates/merged_res/debug/mergeDebugResources/values-v17_values-v17.arsc.flat
/composeApp/build/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/multi-v2/values-v18.json
/composeApp/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v18/values-v18.xml
/composeApp/build/intermediates/merged_res/debug/mergeDebugResources/values-v18_values-v18.arsc.flat
/composeApp/build/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/multi-v2/values-v22.json
/composeApp/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v22/values-v22.xml
/composeApp/build/intermediates/merged_res/debug/mergeDebugResources/values-v22_values-v22.arsc.flat
/composeApp/build/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/multi-v2/values-v23.json
/composeApp/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v23/values-v23.xml
/composeApp/build/intermediates/merged_res/debug/mergeDebugResources/values-v23_values-v23.arsc.flat
/composeApp/build/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/multi-v2/values-v24.json
/composeApp/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v24/values-v24.xml
/composeApp/build/intermediates/merged_res/debug/mergeDebugResources/values-v24_values-v24.arsc.flat
/composeApp/build/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/multi-v2/values-v25.json
/composeApp/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v25/values-v25.xml
/composeApp/build/intermediates/merged_res/debug/mergeDebugResources/values-v25_values-v25.arsc.flat
/composeApp/build/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/multi-v2/values-v26.json
/composeApp/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v26/values-v26.xml
/composeApp/build/intermediates/merged_res/debug/mergeDebugResources/values-v26_values-v26.arsc.flat
/composeApp/build/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/multi-v2/values-v28.json
/composeApp/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v28/values-v28.xml
/composeApp/build/intermediates/merged_res/debug/mergeDebugResources/values-v28_values-v28.arsc.flat
/composeApp/build/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/multi-v2/values-watch-v20.json
/composeApp/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-watch-v20/values-watch-v20.xml
/composeApp/build/intermediates/merged_res/debug/mergeDebugResources/values-watch-v20_values-watch-v20.arsc.flat
/composeApp/build/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/multi-v2/values-watch-v21.json
/composeApp/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-watch-v21/values-watch-v21.xml
/composeApp/build/intermediates/merged_res/debug/mergeDebugResources/values-watch-v21_values-watch-v21.arsc.flat
/composeApp/build/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/multi-v2/values-xlarge-v4.json
/composeApp/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-xlarge-v4/values-xlarge-v4.xml
/composeApp/build/intermediates/merged_res/debug/mergeDebugResources/values-xlarge-v4_values-xlarge-v4.arsc.flat
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Vb8eo5XvKGJnpWTUyNiyQFpmUoU=
/.idea/vcs.xml
/composeApp/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/vpdevs/streamkmp/VideoPlayerActivity.dex
/shared/build/.transforms/7ee5574db39a9000baf755171600a517/transformed/bundleLibRuntimeToDirDebug/com/vpdevs/streamkmp/VideoPlayerEventHandler$Companion.dex
/shared/build/.transforms/7ee5574db39a9000baf755171600a517/transformed/bundleLibRuntimeToDirDebug/com/vpdevs/streamkmp/VideoPlayerEventHandler.dex
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/vp+F4ksY3sagRLECLmOjv9SS8R0=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/VS3PsA8sSSmw5_8Fh7kU30npUc8=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/wAEv9f7JbwuTmCDOQQEFSb4vpZA=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/wKhcbiokm_frU8cvtRBDIkaB_mc=
/.gradle/configuration-cache/4a136e3b-c95c-46c6-9871-d5a37a360858/work.bin
/.gradle/configuration-cache/7404066f-6676-4a99-bc76-de3de7c96226/work.bin
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/wW1Hz5npVaF5s3MQ3q6fgd4sZ1A=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/WY8gigL4+KJrhVQVOOPcKWnMiWs=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/xcc5P3zRhC+wi0rI2WqBVxbqCtU=
/.idea/xcode.xml
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/xjsKQfVu8iUyw0HcZUqO+QX8UIc=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/xtxN+Q+JEa3oe+_VJdjFrO+orvw=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/xUFAYvHW75DZeP4u8PWZKlenH6s=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/y5bWiJb2QGn0EnaPIq_6G2ekBP4=
/composeApp/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/yfAK8JWz1DW9nI_+mdSi8ogcK28=
composeApp/build/
shared/build/
/.gradle/configuration-cache/75339bc2-a256-405f-b20d-690a9cef50ff/.globals.work.bin
/.gradle/configuration-cache/75339bc2-a256-405f-b20d-690a9cef50ff/.strings.work.bin
/.gradle/configuration-cache/75339bc2-a256-405f-b20d-690a9cef50ff/_shared.work.bin
/.gradle/configuration-cache/75339bc2-a256-405f-b20d-690a9cef50ff/buildfingerprint.bin
/build/reports/configuration-cache/8qhtrgbmp65if1rjmaqzji708/2molt3ex5w7mpqu8wzgmntds3/configuration-cache-report.html
/.gradle/configuration-cache/75339bc2-a256-405f-b20d-690a9cef50ff/entry.bin
/.gradle/configuration-cache/75339bc2-a256-405f-b20d-690a9cef50ff/projectfingerprint.bin
/.gradle/configuration-cache/75339bc2-a256-405f-b20d-690a9cef50ff/work.bin
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata/vigneshprabhu.xcuserdatad/UserInterfaceState.xcuserstate
